/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header - cabeçalho */

.container-header-cabecalho {
  background-color: #1a2b4b;
  border-bottom: 1.5rem solid #b68954;
  display: flex;
  justify-content: center;
  padding: 2.25rem 0;
}

.container-div-cabecalho {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-ul-cabecalho {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
}

.container-ul-cabecalho li a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.container-ul-cabecalho li a:hover {
  color: #b68954;
  border-top: 0.37rem solid #b68954;
  border-bottom: 0.37rem solid #b68954;
  padding: 0.5rem 0;
  transition: 0.4s ease;
}

/* Banner principal */

.container-section-banner-principal {
  background-color: #1a2b4b;
  display: flex;
  justify-content: center;
  border-bottom: 1.5rem solid #b68954;
  padding: 2rem 0;
}

.container-div-banner-principal {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container-div-textos-banner-principal {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-div-textos-banner-principal h1 {
  color: white;
  font-size: 3.5rem;
  border-left: 0.5rem solid #b68954;
  padding-left: 1rem;
}

.container-div-textos-banner-principal p {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
}

.btn-wpp {
  text-decoration: none;
  color: white;
  background-color: #b68954;
  width: fit-content;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  transition: 0.4s ease;
}

.btn-wpp:hover {
  background-color: #b3926c;
}

#estatua-justica {
  width: 26rem;
}
