/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header - cabeçalho */

.container-header-cabecalho {
  background-color: #1a2b4b;
  border-bottom: 1.5rem solid #b68954;
  display: flex;
  justify-content: center;
  padding: 2.25rem 0;
}

.container-div-cabecalho {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-ul-cabecalho {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
}

.container-ul-cabecalho li a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.container-ul-cabecalho li a:hover {
  color: #b68954;
  border-top: 0.37rem solid #b68954;
  border-bottom: 0.37rem solid #b68954;
  padding: 0.5rem 0;
  transition: 0.4s ease;
}

/* Banner principal */

.container-section-banner-principal {
  background-image: url("assets/banner1.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  border-bottom: 1.5rem solid #b68954;
  padding: 2rem 0;
  position: relative;
}

.container-section-banner-principal::before {
  content: "";
  background-color: #1a2b4b;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}

.container-div-banner-principal {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
}

.container-div-textos-banner-principal {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-div-textos-banner-principal h1 {
  color: white;
  font-size: 3.5rem;
  border-left: 0.5rem solid #b68954;
  padding-left: 1rem;
}

.container-div-textos-banner-principal p {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
}

.btn-wpp {
  text-decoration: none;
  color: white;
  background-color: #b68954;
  width: fit-content;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  transition: 0.4s ease;
}

.btn-wpp:hover {
  background-color: #b3926c;
}

#estatua-justica {
  width: 26rem;
}

/* Especialidades */

.container-section-especialidades {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.container-div-especialidades {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.container-div-especialidades h2 {
  font-size: 3rem;
  color: #1a2b4b;
}

.container-cards-especialidades {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5rem;
}

.card-especialidades {
  border: 0.2rem solid #b68954;
  width: 23rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 2rem;
  color: #1a2b4b;
}

.card-especialidades img {
  width: 4.3rem;
}

/* Quem somos */

.container-section-quem-somos {
  background-image: url("assets/banner-sobre-mim.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  position: relative;
}

.container-section-quem-somos::before {
  content: "";
  background-color: #1a2b4b;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}

.container-div-quem-somos {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  z-index: 2;
}

#foto-advogado {
  width: 25rem;
  height: 25rem;
  border-radius: 100%;
  object-fit: cover;
  border: 0.2rem solid #b68954;
}

.container-div-quem-somos h2 {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  border-bottom: 0.5rem solid #b68954;
  padding-bottom: 1rem;
}

.container-div-quem-somos article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: justify;
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
}

#ultima-frase-quem-somos {
  font-weight: bold;
}
